 input {
     font-weight: bold;
     background-color: black;
 }

 input[type="file"] {
     color: white;
 }

 .main-container {
     padding-top: 70px;
 }

 pre:empty {
     display: none;
 }

 .container {
     margin-left: 20px;
     margin-right: 20px;
     width: auto;
     height: 100%;
 }

 .dropdown-toggle {
     border-radius: 0px !important;
 }



 .input-group-addon {
     min-width: 150px;
 }
 /*================================ Some extra juice pliz... ===================================*/

 label {
     color: black;
     font-size: 15px;
     font-weight: bold;
     background-color: white;
     border-radius: 15px;
     padding: 9px;
 }

 .toggle.ios,
 .toggle-on.ios,
 .toggle-off.ios {
     border-radius: 20px;
 }

 .toggle.ios .toggle-handle {
     border-radius: 20px;
 }
